@model IEnumerable<NotesApp.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center my-4">
    <h1 class="display-4 text-primary">@ViewData["Title"]</h1>
</div>

<div class="container my-5">
    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <p>
                <a class="btn btn-success" asp-action="Create">Create New Contact</a>
            </p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <th>@Html.DisplayNameFor(model => model.AlternativePhone)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                            <td>@Html.DisplayFor(modelItem => item.AlternativePhone)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td class="text-center">
                                <a class="btn btn-warning btn-sm mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-info btn-sm mr-2" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class="btn btn-danger btn-sm mr-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
